.logo {
  width: 190px;              /* adjust size */
  height: 40px;              /* adjust size */
  background-image: url("../../assets/img/logofinalfinal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.layout-container {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}


/* MAIN WRAPPER */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.top-navbar {
  background: linear-gradient(90deg, #ff7b00, #ff9500);
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  background: white;
  color: #ff7b00;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* CONTENT */
.page-wrapper {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.content-card {
  width: 100%;
  max-width: 900px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff7b00, #ff9500);
  color: white;
  padding: 14px;
  text-align: center;
}
