.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #ff7b00, #ff9500);
    color: aliceblue;
}

h2{
    color: aliceblue;
}