<div class="module-card">
  <h2 class="module-title">🔐 Account Unlock</h2>
  <div style="display: flex; flex-wrap: wrap">
    <input [(ngModel)]="employeeId" placeholder="Enter Employee ID" class="text-input" />
    <button (click)="getUserDetails()" class="action-btn dark" [disabled]="loading">
      Get User
    </button>
  </div>

  <app-alert [message]="message" [type]="alertType"></app-alert>

  <div *ngIf="user" class="result-block">
    <h4 class="title">User Details</h4>

    <div class="table-container">
      <table class="modern-table">
        <tbody>
          <tr>
            <th>Employee ID</th>
            <td>{{ user.employeeId }}</td>
          </tr>

          <tr>
            <th>Locked</th>
            <td>
              <span [class.locked]="user.isLocked">
                {{ user.isLocked ? 'Yes' : 'No' }}
              </span>
            </td>
          </tr>

          <tr *ngIf="user.message">
            <th>Info</th>
            <td>{{ user.message }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<button
  *ngIf="showunlockbtn"
  (click)="unlockAccount()"
  class="action-btn primary"
  [disabled]="loading || !user?.isLocked">
  Unlock
</button>

